{% extends '../componentes/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/cadastroPet.css' %}">
{% endblock %}

{% block content %}
<div class="form-section">
    <form method="POST" action="{% url 'uploadPet' %}" enctype="multipart/form-data" id="petForm">
        {% csrf_token %}

        <div>
            
                <h1>Formulário de cadastro do pet</h1>
                    <div class="first-part-container">
                    {% for field in form %}
                        {% if field.label != 'Sexo' and field.label != 'Idade'%}
                        <label>{{field.label_tag}}</label>
                        {{field}}
                        {% if field.errors %}
                            <p class="error">{{ field.errors }}</p>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="lined-inputs">
                        <div>
                            <label>{{form.idade.label}}</label>
                            {{form.idade}}
                        </div>
                        <div>
                            <label>{{form.sexo.label}}</label>
                            <div class="radio-buttons-containers">
                                <div class="radio-buttons">
                                    <button type="button" id="machoButton" class="radio-button">Macho</button>
                                    <button type="button" id="femeaButton" class="radio-button">Fêmea</button>
                                </div>
                                {{form.sexo}}
                            </div>
                        </div>
                    </div>
                </div>
            <button type="submit" class="submitButton">Cadastrar Pet</button>
        </div>
    
        <div>
            {{ imgForm.management_form }}
            <div class="images-forms">
                {% for field in imgForm %}
                    <div class="ImagemFormset">
                        <div class="img-preview-container"><button type="button" class="selectImageButton">Selecionar</button></div>
                        <div class="hidden">{{field}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/check_radio.js' %}"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    count = 1
    var selectButtons =  document.getElementsByClassName('selectImageButton')
    selectButtons[0].setAttribute('id', 0)
    for(button of selectButtons){
        button.addEventListener('click', () => {
            open(button)
        })
    }
    $(async function() {
        $('.ImagemFormset').formset({
            prefix: '{{ imgForm.prefix }}', addText: 'Adicionar'
        })



        var addButton = await document.getElementsByClassName('add-row')[0]
        addButton.addEventListener('click', attButton)
        
        var removeButton = await document.getElementsByClassName('delete-row')[0]
        removeButton.remove()
    })


    function attButton(){
        selectButtons = document.querySelectorAll('.selectImageButton')
        selectButtons.forEach((element, index) => {
            selectButtons[index].setAttribute('id', index)
            selectButtons[index].addEventListener('click', () => {
                open(selectButtons[index])
            })
        });
    }

    function open(button){
        id = 'id_imagem_pet-' + button.id + '-imagem'
        document.getElementById(id).click()
    }



</script>
{% endblock %}
