{% extends '../componentes/base.html' %}
{% load static %}


{% block head %}
<style>
    body {
        font-size: 14px;
    }
</style>
{% endblock %}


{% block content %}
<body class="d-flex justify-content-center align-items-center min-vh-100 flex-column fs-inputs">

    <div class="d-flex border-radius-divs overflow-hidden top-bar" style="width: 375px; border-radius: 25px 25px 0 0;">
        <a href="{% url 'login' %}" class="w-50 text-decoration-none">
            <div class="text-center text-white bg-primaria d-flex justify-content-center align-items-center section-auth"
                style="height: 65px;">Login</div>
        </a>
        <div class="w-50 text-center text-white bg-primaria d-flex justify-content-center align-items-center active section-auth"
            style="height: 65x;">Cadastro</div>
    </div>

    <div class="register-camp border-primaria pt-4 border-radius-divs"
        style="width: 375px; border-radius: 0 0 25px 25px; border-top: none; padding: 3.5rem"
        style="border-radius: 0 0 25px 25px;">

        <img src="{% static 'imgs/logo.png' %}" alt="Logo image" class="d-block mx-auto mb-1" style="width: 49%;">
        <form action="" method="post">
            {%csrf_token%}

            <div class="input-field">
                <label for="nameCamp" class="d-block mb-1">Nome:</label>
                <input type="text" name="username" id="nameCamp" placeholder="Username"
                    class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm">
            </div>

            <div class="input-field">
                <label for="emailCamp" class="d-block mb-1">E-mail:</label>
                <input type="text" name="email" id="emailCamp" placeholder="Digite seu e-mail"
                    class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm">
            </div>

            <div class="input-field">
                <label for="cellphoneCamp" class="d-block mb-1">Telefone:</label>
                <input type="number" name="telefone" id="cellphoneCamp" placeholder="Digite seu telefone"
                    class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm">

            <div class="input-field">
                <label for="passwordCamp" class="d-block mb-1">Senha:</label>
                <input type="password" name="password1" id="passwordCamp" placeholder="Digite sua senha"
                    class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm">
            </div>
            
            <div class="input-field">
                <label for="passwordCamp" class="d-block mb-1">Confirme a senha:</label>
                <input type="password" name="password2" id="passwordCamp" placeholder="Digite sua senha"
                    class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm">
            </div>

            <button type="submit" class="btn btn-adp-primaria w-100 mt-4 py-2 border-radius-inputs">Cadastrar</button>
        </form>
    </div>
</body>
{% endblock %}