{% extends '../componentes/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/chatsPage.css' %}">
{% endblock  %}

{% block content %}
    <div class="delete-modal-screen" id="deleteModal">
        <div class="delete-modal-container">
            <h3>Deletar Chat</h3>
            <p>Deseja realmente deletar o chat com |NomeDoUsuario|?</p>
            <form action="" class="delete-form">
                <input type="submit" value="Deletar" class="delete-chat-button">
                <button type="button" id="closeDeleteModalButton">Cancelar</button>
            </form>
        </div>
    </div>

    <main class="chats-section">
        <h1>Chats Ativos</h1>
        {% if hasChats == False %}
            <p>No momento, você não possui nenhum chat iniciado!</p>
        {% else %}

            {% for room in rooms %}
                <div class="room-div">
                    <div class="room-div-top">
                        <div class="receiver-show">
                            <div class="receiver-photo">
                                <img src="{{room.receiverImg.img.url}}" alt="imagem do perfil" class="receiver-img">
                            </div>
                            <span class="receiver-name">{{room.receiver}}</span>
                        </div>
                        <div class="unread-messages">
                            {% if room.unreadMessages != 0 %}
                                {{room.unreadMessages}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="room-div-middle">
                        <div class="room-last-message">
                            <span class="message-content">{{room.lastMessage.fk_sender}} diz: {{room.lastMessage.content}}</span>
                            <span class="message-time">{{room.lastMessageDate}}</span>
                        </div>  
                    </div>
                    <div class="room-div-bottom">
                        <span>Data de inicio: {{room.roomDate}}</span>
                        <div class="room-option-buttons">
                            <a href="{% url 'chat' room.details.id %}" class="room-option-button open">Abrir</a>
                            <button class="room-option-button close" receiverID="{{room.receiver.id}}" receiverName="{{room.receiver}}">Deletar</button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </main>
    
    <script>
        deleteModal = document.querySelector("#deleteModal")

        closeDeleteModalButton = document.querySelector("#closeDeleteModalButton")
        closeDeleteModalButton.addEventListener("click", closeDeleteModal)

        openDeleteModalButtons = document.querySelectorAll(".close")
        openDeleteModalButtons.forEach(button => {
            button.addEventListener("click", openDeleteModal)
        });        

        function closeDeleteModal(){
            deleteModal.classList.add("hidden")
        }

        function openDeleteModal(){
            deleteModal.classList.remove("hidden")
        }

    </script>
{% endblock content %}