{% load static %}
<footer>
    <div class="logo">
        <img src="{% static 'imgs/icon-home-page.svg' %}" alt="logo">
    </div>
    <div class="footer-information">
        <div class="info-section">
            <h4><span class="colorized-text">
                    Lorem ipsum
                </span></h4>
            <p>Lorem ipsum</p>
            <p>Mi</p>
            <p>Lorem</p>
            <p>Lorem ipsum</p>
        </div>
    </div>
    <div class="footer-information">
        <div class="info-section">
            <h4><span class="colorized-text">
                    Lorem ipsum
                </span></h4>
            <p>Lorem ipsum dolor sit</p>
            <p>Lorem Ipsum dolor sit armet</p>
        </div>
    </div>
    <div class="footer-information">
        <div class="info-section">
            <h4><span class="colorized-text">
                    Lorem
                </span></h4>
            <img src="{% static 'imgs/facebookIcon.svg' %}" alt="facebook logo">
            <img src="{% static 'imgs/instagramIcon.svg' %}" alt="facebook logo">
        </div>
    </div>
</footer>