{% load static %}
<div class="top-section">
    <div class="logo">
        <img src="{% static 'imgs/icon-home-page.svg' %}" alt="logo">
    </div>
    <div class="object">
        <div class="nav-container">
            <nav class="nav-options">
                {% if info.company %}
                    <a class="{{nHomeComp}}" href="{% url 'homeCompany'%}">Home</a>
                    <a class="{{nProdutos}}" href="{% url 'verLoja'%}">Produtos</a>
                    <a class="{{nServs}}" href="">Serviços</a>
                    <a class="{{nPedidos}}" href="{% url 'pedidosEmpresa' %}">Pedidos</a>
                {% else %}
                    <a class="{{nExplorar}}" href="{% url 'home' %}">Explorar</a>
                    <a class="{{nLoja}}" href="{% url 'produtos' %}">Loja</a>
                    <a class="{{nLost}}" href="{% url 'petsPerdidos' %}">Animais perdidos</a>
                    {% if info.user %}
                        <a class="{{nMeusPedidos}}" href="{% url 'pedidos' %}">Meus pedidos</a>
                        <a class="{{nProcessos}}" href="{% url 'processos' %}">Processos</a>
                        <a class="{{nCart}}" href="{% url 'shoppingCart' %}" class="cart">
                            <img src="{% static 'imgs/loja/cart.svg' %}" alt="">
                        </a>
                    {% endif %}
                {% endif %}
                {% if info.user %}
                    <div class="notifications">
                        <img class="buttonNot" src="{% static 'imgs/notifications.svg' %}" alt="">

                        <div class="dropDown dropNot none">
                            {% for noti in info.notifications %}
                                <a href="#">{{noti.mensage}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="imgPerfil">
                        
                        <img class="buttonPerfil" src="{{info.profileImage.img.url}}" alt="">

                        <div class="dropDown dropPerfil none">
                            <a href="{% url 'perfil' %}">
                                {{info.user}}
                            </a>
                            <a href="{% url 'logout' %}">Sair</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}">Acessar Conta</a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>

<script>
    var button = document.querySelector('.buttonNot')
    var buttonPerfil = document.querySelector('.buttonPerfil')

    function addRemove(elemnent){
        if(elemnent.classList.contains("none")){
            elemnent.classList.remove('none')
        }
        else{
            elemnent.classList.add('none')
        }
    }

    button.addEventListener('click', function(e){
        var drop = document.querySelector('.dropNot')
        var dropPerfil = document.querySelector('.dropPerfil')

        dropPerfil.classList.add('none')
        addRemove(drop)
        
    })

    buttonPerfil.addEventListener('click', function(e){
        var drop = document.querySelector('.dropPerfil')
        var dropNot = document.querySelector('.dropNot')

        dropNot.classList.add('none')
        addRemove(drop)
    })
</script>
