{% load static %}
<div class="top-section">
    <div class="logo">
        <img src="{% static 'imgs/icon-home-page.svg' %}" alt="logo">
    </div>
    <div class="object">
        <div class="nav-container">
            <nav class="nav-options">
                <a href="{% url 'home' %}">Explorar</a>
                <a href="#">Loja</a>
                <a href="{% url 'petsPerdidos' %}">Animais perdidos</a> 
                {% if User %}
                    <a href="{% url 'perfil' %}">
                        {{User}}
                    </a>
                    <a href="{% url 'logout' %}">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Acessar Conta</a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>