
{% load static %}

<style>
    .modal-pet-container{
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.696);
        z-index: 10;
    }

    .modal-pet{
        background-color: white;    
        display: flex;
        width: 800px;
        min-height: 550px;
        border-radius: 10px;
        overflow: hidden;
    }

    @keyframes openModal {
        from{
            transform: scale(0.5);
            opacity: 0;
        }
        to{
            transform: scale(1);
            opacity: 1;
        }
    }

    .animation{
        transform-origin: bottom center;
        animation-name: openModal;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .carrousel-container{
        width: 52%;
        overflow: hidden;
        position: relative;
        background-image: url(/static/imgs/dogplaceholder.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .carrousel-content{
        transition: 1s;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .pet-info-container{
        width: 48%;
        box-sizing: border-box;
        padding: 1.3rem 1rem;
    }

    .exit-modal-button{
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
    }
    
    .exit-modal-button:hover{
        background-color: lightgrey;

    }
    
    .modal-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 1.2rem;
    }
    
    .modal-top h3{
        font-weight: bolder;
    }
    
    #exit-modal-button{
        width: 13%;
    }

    
    .pet-info{
        background-color: var(--greenBackground);
        border-radius: 10px;
        box-sizing: border-box;
        width: 90%;
        margin: auto;
        font-size: 15px;
        padding: 1.2rem 1rem;
    }

    .pet-info ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .pet-info li{
        margin-bottom: 0.8rem;
    }
    
    .pet-info span{
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .info-header{
        line-height: 15px;
        color: grey;
    }
    
    .pet-modal-img{
        width: 100%;
        width: inherit;
        object-fit: cover;
        flex-shrink: 0;
    }
    
    .carrousel-indicators{
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
    }
    
    .carrousel-indicator{
        height: 12px;
        border-radius: 50%;
        width: 12px;
        margin-left: 0.7rem;
        background-color: lightgreen;
    }

    .carrousel-indicator:first-of-type{
        margin-left: 0;
    }
    
    .indicator-active{
        background-color: var(--greenPrincipal);
    }
    
    .ud-options{
        display: block;
        text-align: center;
        height: fit-content;
        width: 80%;
        margin: auto;
        margin-top: 0.8rem;
    }
    
    .ud-options button{
        background-color: var(--greenPrincipal);
        color: white;
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 0.4rem 1rem;
        transition: 0.2s;
        cursor: pointer;
    }
    
    .ud-options button:hover{
        background-color: var(--greenSecondary);
        color: white;
    }

    .adopt-button{
        background-color: var(--greenPrincipal);
        color: white;
        border: none;
        border-radius: 10px;
        width: 80%;
        padding: 0.4rem 1rem;
        transition: 0.2s;
        cursor: pointer;
    }

    .trigger-before{
        width: 50%;
        height: 100%;
        position: absolute;
        display: flex;
        z-index: 20;
        top: 0;
        left: 0;
        transition: 0.2s;
        background: linear-gradient(to right,  rgba(0, 0, 0, 0.145), transparent);
        opacity: 0;
        align-items: center;
    }

    .trigger-before:hover{
        opacity: 1;
    }
    
    .trigger-after{
        width: 50%;
        height: 100%;
        position: absolute;
        display: flex;
        z-index: 20;
        top: 0;
        right: 0;
        background: linear-gradient(to left,  rgba(0, 0, 0, 0.145), transparent);
        opacity: 0;
        flex-direction: row-reverse;
        align-items: center;
        
    }
    
    .trigger-after:hover{
        opacity: 1;
    }

    .trigger-before, .trigger-after{
        cursor: pointer;
    }
    
    .arrow-right, .arrow-left{
        background-color: var(--greenPrincipal);
        color: white;
        width: 50px;
        height: 50px;
        line-height: 40px;
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        border-radius: 50%;
    }

    .arrow-right{
        margin-right: 2rem;
    }
    
    .arrow-left{
        margin-left: 2rem;
    }
    
    .contact-section{
        display: flex;
        margin-top: 15px;
    }


    .contact-button{
        background-color: var(--greenPrincipal);
        color: white;
        padding: 5px;
        border: none;
        border-radius: 10px;
        display: block;
        align-items: center;
        height: 40px;
        margin-left: 1.5rem;
        transition: 0.2s;
        cursor: pointer;
    }

    .contact-button:hover{
        background-color: var(--greenSecondary);
    }

    .contact-button:active{
        transition: none;
        background-color: var(--greenPrincipal);
        box-shadow: inset 0 0 10px black;
    }

    .contact-div{
        display: flex;
        margin-left: 1rem;
        opacity: 0;
        transition: 0.2s;
        position: relative;
        bottom: 3px;
    }
    
    .contact-form{
        background-color: var(--greenPrincipal);
        border-radius: 50%;
        height: 45px;
        box-sizing: border-box;
        padding: 8px;
        margin-left: 1rem;
        cursor: pointer;
        transition: 0.3s;
    }

    .contact-form:hover{
        background-color: var(--greenSecondary);
    }

    .contact-form:active{
        transition: none;
        background-color: var(--greenPrincipal);
        box-shadow: inset 0 0 10px black;
    }
    
    .contact-form img{
        height: 100%;
    }
    
    
    .visible{
        opacity: 1;
    }
    
    .requests-button{
        background-color: var(--greenPrincipal);
        color: white;
        padding: 7px;
        border: none;
        border-radius: 10px;
        transition: 0.2s;
    }
    
    .requests-button:hover{
        background-color: var(--greenSecondary);
    }
    
    .modal-request{
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: rgba(46, 46, 46, 0.801);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-request > div{
        background-color: white;
        padding: 1.5rem;
        box-sizing: border-box;
        width: 400px;
        border-radius: 20px;
    }

    .requests-top-bar{
        margin-right: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .exit-request-button{
        position: relative;
        bottom: 4px;
        width: 35px;
        height: 35px;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 50%;
    }

    .exit-request-button:hover{
        background-color: lightgray;
    }

    .request-container{
        margin-right: 1.5rem;
        margin-top: 0.5rem;
        background-color: var(--greenSecondary);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

    .requests-div{
        height: 470px;
    }

    .requests-div > div{
        overflow-y: scroll;
        height: 100%;
    }

    .requests-div > div::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .requests-div > div::-webkit-scrollbar-track {
    background: #f1f1f1;
    }

    /* Handle */
    .requests-div > div::-webkit-scrollbar-thumb {
    background: var(--greenPrincipal)
    }

    /* Handle on hover */
    .requests-div > div::-webkit-scrollbar-thumb:hover {
    background: var(--greenSecondary)
    }

    .requests-title{
        margin-top: 1rem;
    }

    .request-container.denied{
        background-color: rgb(255, 76, 76);
        color: white;
    }
    
    .request-container h6{
        margin-bottom: 5px;
        font-weight: bolder;
    }
    
    .request-container p{
        margin-bottom: 0;
    }

    .request-buttons{
        display: flex;
        justify-content: end;
    }

    .request-buttons input{
        border: none;
        padding: 3px 5px;
        border-radius: 10px;
        transition: 0.2s;
    }

    .request-buttons .accept{
        background-color: var(--greenPrincipal);
        color: white;
        margin-right: 0.5rem;
    }

    .request-buttons .accept:hover{
        background-color: rgb(20, 102, 61);
    }

    .request-buttons .refuse{
        background-color: rgb(255, 105, 105);
        color: white;
    }

    .request-buttons .refuse:hover{
        background-color: red;
    }

    .adopted-pet-status{
        border: 1px solid var(--greenPrincipal);
        border-width: 3px 11px 3px 11px;
        border-radius: 5px;
        padding: 8px;
        width: 85%;
        margin: auto;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .adopted-pet-status img{
        width: 10%;
    }
    .adopted-pet-status p{
        width: 85%;
        margin: 0;
        padding: 0;
    }


    .hidden{
        display: none;
    }

    
</style>

{% if pet.requests %}
<div class="modal-request hidden" id="modal-request-{{pet.pet.id}}">
    <div class="requests-div">
        <div>
            <div class="requests-top-bar">
                <h4>Solicitações desse pet:</h4>
                <img src="{% static 'imgs/iconx.svg' %}" alt="X icon" class="exit-request-button">
            </div>
            {% for request in pet.requests %}
                {% if request.state == "REQUESTED" %}
                <div class="request-container">
                    <h6>De: {{request.fk_donee}}</h6>
                    <p>{{request.requestText}}</p>
                    <form class="request-buttons" method="POST">
                        {% csrf_token %}
                        <input type="num" name="request_id" value="{{request.id}}" class="hidden">
                        <input type="text" class="hidden" name="donee" value="{{request.fk_donee}}">
                        <input type="submit" name="goToChat" value="Chat" class="chat">
                        <input type="submit" name="result" value="Aceitar" class="accept">
                        <input type="submit" name="result" value="Recusar" class="refuse">
                    </form>
                </div>
                {% endif %}
            {% endfor %}
            <div class="requests-top-bar">
                <h4 class="requests-title">Solicitações Negadas:</h4>
            </div>
            {% for request in pet.requests %}
                {% if request.state == "DENIED" %}
                <div class="request-container denied">
                    <h6>De: {{request.fk_donee}}</h6>
                    <p>{{request.requestText}}</p>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<div class="modal-pet-container hidden" id="modal-pet-{{pet.pet.id}}">
    <div class="modal-pet">
        <div class="carrousel-container">
            <div class="carrousel-content" id="carrousel-{{pet.pet.id}}">
                {% for img in pet.imgs %}
                <img src="{{img.img.url}}" alt="pet image" class="pet-modal-img">
                {% endfor %}
            </div>

            <div class="carrousel-indicators">
                {% for img in pet.imgs %}
                    <div class="carrousel-indicator carrousel-indicator-{{pet.pet.id}}"></div>
                {% endfor %}
            </div>
            <div class="trigger-before" id="triggerBefore-{{pet.pet.id}}"><div class="arrow-left"><</div></div>
            <div class="trigger-after" id="triggerAfter-{{pet.pet.id}}"><div class="arrow-right">></div></div>
        </div>
        <div class="pet-info-container">
            <div class="modal-top">
                <h3>{{pet.pet.name}}</h3>
                <img src="{% static 'imgs/iconx.svg' %}" alt="X icon" id="exit-modal-button" class="exit-modal-button">
            </div>
            <div class="pet-info">
                <ul>
                    <li>
                        <span class="info-header">Doador</span>
                        <span class="info-content">{{pet.pet.fk_user}}</span>
                    </li>
                    <li>
                        <span class="info-header">Nome</span>
                        <span class="info-content">{{pet.pet.name}}</span>
                    </li>
                    <li>
                        <span class="info-header">Raça</span>
                        <span class="info-content">{{pet.pet.breed}}</span>
                    </li>
                    <li>
                        <span class="info-header">Descrição</span>
                        <span class="info-content">{{pet.pet.desc}}</span>
                    </li>
                    <li>
                        <span class="info-header">Sexo</span>
                        <span class="info-content">{{pet.pet.sex}}</span>
                    </li>
                    <li>
                        <span class="info-header">Idade</span>
                        <span class="info-content">{{pet.pet.age}} ano(s)</span>
                    </li>
                    <li>
                        <span class="info-header">Observações</span>
                        <span class="info-content">{{pet.pet.obs}}</span>
                    </li>
                </ul>
            </div>
                {% if pet.type == 'adot' %}
                    {% if pet.favoritePet %}
                        <a href="{% url 'favoritarPet' pet.pet.id %}" class="ud-options"><button>Remover Interesse</button></a>
                    {% else %}
                        <a href="{% url 'favoritarPet' pet.pet.id %}" class="ud-options"><button>Tenho Interesse</button></a>
                    {% endif %}
                    <button class="ud-options adopt-button" petId="{{pet.pet.id}}" userId="{{pet.pet.fk_user.id}}">Adotar</button>
                    
                    <!-- {% url 'adotarPet' pet.pet.id pet.pet.fk_user.id %} -->
                {% elif pet.type == 'lost' %}
                    <div class="contact-section">
                        <button class="contact-button" id="contactButton-{{pet.pet.id}}">Entrar em Contato</button>
                        <div class="contact-div" id="contactDiv-{{pet.pet.id}}">
                            <a href="https://wa.me/55{{pet.contacts.tel}}?text=Opa%20{{pet.pet.fk_user}}%2C%20me%20chamo%20{{request.user}}%2C%20sou%20usu%C3%A1rio%20do%20AdotPets%20tenho%20informa%C3%A7%C3%B5es%20sobre%20seu%20pet%20perdido%20{{pet.pet.name}}!" target="_blank">
                                <div class="contact-form">
                                    <img src="{% static 'imgs/whatsappIcon.svg' %}" alt="whatsapp icon">
                                </div>
                            </a>
                            <a href="mailto:{{pet.contacts.email}}?subject=Informa%C3%A7%C3%B5es%20sobre%20Pet%20Perdido%20{{pet.pet.name}}!&body=Opa%20{{pet.pet.fk_user}}%2C%20me%20chamo%20{{request.user}}%2C%20sou%20usu%C3%A1rio%20do%20AdotPets%20tenho%20informa%C3%A7%C3%B5es%20sobre%20seu%20pet%20perdido%20{{pet.pet.name}}!">
                                <div class="contact-form">
                                    <img src="{% static 'imgs/emailIcon.svg' %}" alt="email icon">
                                </div>
                            </a>
                        </div>
                    </div>
                {% elif pet.type == 'myLostPets' %}
                    
                    <a href="{% url 'editarPet'  pet.pet.id  %}" class="ud-options"><button>Editar Pet</button></a>
                    <a href="{% url 'marcarAdotado' pet.pet.id %}" class="ud-options"><button>Marcar Como Encontrado</button></a>
                {% elif pet.type == 'requested' %}
                    <a href="{% url 'editarPet'  pet.pet.id  %}" class="ud-options"><button>Editar Pet</button></a>
                    <button class="ud-options requests-button" type="button" petId="{{pet.pet.id}}">Ver solicitações</button>
                {% elif pet.type == 'myPets' %}
                    <a href="{% url 'editarPet'  pet.pet.id  %}" class="ud-options"><button>Editar Pet</button></a>
                    <a href="{% url 'marcarAdotado' pet.pet.id %}" class="ud-options"><button>Marcar Como Adotado</button></a>
                {% elif pet.type == 'adopted' %}
                    {% if pet.requests == False %}
                        <div class="adopted-pet-status">
                            <img src="{% static 'imgs/info-icon.svg'%}" alt="info icon">
                            <p>Esse pet foi adotado fora de nossa plataforma!</p>
                        </div>
                    {% else %}
                        <div class="adopted-pet-status">
                            <img src="{% static 'imgs/info-icon.svg'%}" alt="info icon">
                            <p>Esse pet foi adotado por {{pet.activeRequest.fk_donee.username}}!</p>
                        </div>
                    {% endif %}
                {% endif %}
        </div>
    </div>
</div>
