@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

:root {

    --greenPrincipal: #649C80;
    --greenSecondary: #A5EBC8;
    --greenBackground: #EBF8F1;
    --alternativeColor: #698778;
    --cancelColor: #FF9292;
    --containerMargin: 1rem;
    --main-font: 'Public Sans'
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: white;
    font-family:  var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-color: var(--greenBackground);
}


form{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 450px;
}


input{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 0.7rem;
    display: block;
    margin-bottom: .5rem;
    width: 100%;
}





.submit-img{
    margin: auto;
    background-color: var(--greenSecondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transition: .2s;

}

.submit-img input{
    display: inline-block;
}

#id_img{
    display: none;
}

.helptext{
    display: none;
}

label:hover{
    cursor: pointer;
    background-color: #649C80;
}




.inlineForm{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inlineForm .campo{
    width: 45%;
}



button{
    width: 100%;
    padding: 1rem;
    background-color: var(--greenSecondary);
    border: 0;
    border-radius: 10px;
    margin-top: 1.2rem;
    transition: .3s;
    font-weight: bold;
    font-size: .9rem;
}

button:hover{
    cursor: pointer;
    filter: brightness(.85);
}