body{
    background-color: #a5ebc870;
}

.form-section{
    background-color: white;
    display: flex;
    width: calc(100% - 20rem);
    margin: auto;
    margin-top: 5rem;
    border-radius: 10px;
    margin-bottom: 5rem;
}

#petForm{
    display: flex;
    width: 100%;
}

#petForm h1{
    margin-bottom: 3rem;
    color: #14452C;
    font-size: 2.2rem;
}

#petForm > div{
    width: 50%;
}

#petForm > div:first-of-type{
    padding: 2rem;
}

.first-part-container{
    margin-left: 2rem;
}

.input-pet-information{
    box-sizing: border-box;
    width: calc(100% - 8rem);
    border: none;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.5rem;
    display: block;
    margin-bottom: 1rem;
}

.input-idade{
    width: 100%;
}

.lined-inputs{
    display: flex;
    justify-content: space-between;
}

.lined-inputs > div:first-of-type{
    width: 25%;
}

.lined-inputs > div:last-of-type{
    width: 65%;
}

.submitButton{
    display: block;
    background-color: #649C80;
    margin: auto;
    color: white;
    border: none;
    width: 65%;
    padding: 0.70rem;
    margin-top: 3rem;
    border-radius: 15px;
}

.radio-inputs{
    display: flex;
    justify-content: space-evenly;
    display: inline;
    display: none;
}

.radio-inputs input{
    display: inline;
}

.radio-button{
    background-color: white;
    border: solid 1px #649C80;
    color: #379a69;
    padding: 0.5rem;
    width: 35%;
    border-radius: 10px;
    transition: 0.1s;
}

.radio-button:hover{
    background-color: #649C80;
    color: white;
}

.active-radio{
    background-color: #649C80;
    color: white;
}

.hidden{
    visibility: hidden;
    position: absolute;
}

.media-form-container{
    background-image: url(../imgs/background-pet.png);
    background-position: top center;
    background-size: cover;

}


.images-forms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
    box-sizing: border-box;
    padding: 4rem;
}


.dynamic-form{
    background-color: rgba(255, 255, 255, 0.663);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-radius: 20px;
}

.dynamic-form > .delete{
    visibility: hidden;
    position: absolute;
}

.selectImageButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(1.5);
    background-color: white;
    border: none;
}

.add-row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.add-row > div{
    background-color: #379a69;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}