:root {

    --greenPrincipal: #649C80;
    --greenSecondary: #A5EBC8;
    --greenBackground: #EBF8F1;
    --alternativeColor: #698778;
    --containerMargin: 1rem;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: var(--greenBackground);
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1400px) {


    .top-section {
        margin: 50px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 70px;
        font-size: 16px;
    }

    .object {
        display: flex;
        align-items: center;
    }

    .nav-container {
        width: 497px;
        height: 70px;
    }

    .nav-options {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        background-color: white;
        padding: 20px 7px;
        border-radius: 13px;
    }

    .nav-options a {
        color: #000000;
        font-size: 20px;
    }

    .nav-options button {
        background-color: transparent;
    }

    .nav-option-active:hover {
        background-color: var(--greenSecondary);
        padding: 0px 12px;
        border-radius: 20px;
    }

    .link-cadastro a {
        margin: 0 30px;
        color: #000000;
    }

    .irregular-ball {
        width: 560px;
        height: 633px;
    }

    .header-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin: 20px 80px;
    }

    .description-header-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }

    .description-header-section h1 {
        font-size: 48px;
        color: #14452C;
    }

    .colorized-text-1 {
        font-size: 48px;
        color: #A5EBC8;
    }

    .colorized-text-2 {
        color: #649C80;
    }

    .mid-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-home-pg {
        border-radius: 15px;
        border: 3px solid #14452C;
        position: absolute;
        background-color: #FFFFFF;
        width: 80%;
        height: 250px;
        padding: 30px 110px;
    }

    .form-home-pg h2 {
        color: #649C80;
    }

    .form-home-pg-pets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }

    .form-home-pg-pets p {
        margin-bottom: 0;
        font-weight: bold;
    }

    .form-home-pg-pets select {
        width: 100%;
        padding: 4px;
        opacity: 0.5;
        border-radius: 7px;
    }

    .send-pet {
        margin: 10px;
        text-align: center;
    }

    .send-pet button {
        border-radius: 15px;
        width: 70%;
        background-color: #649C80;
        color: #FFFFFF;
        border: solid 0px;
    }

    .mid-1 {
        margin: 200px 100px 50px 100px;
    }

    .pg-post-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        justify-content: space-around;
        border-radius: 10px;
    }

    .mid-2 {
        margin: 50px 100px;
    }

    .pg-post-2 {
        border-radius: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        justify-content: space-around;
    }

    .description-mid h2 {
        font-size: 40px;
        font-weight: bold;
    }

    .description-mid .colorized-text-1 {
        color: #A5EBC8;
    }

    .description-mid .colorized-text-2 {
        color: #649C80;
    }

    .description-mid-2-1 {
        margin: 100px;
        font-size: 40px;
        font-weight: bold;
    }

    .container-carrousel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 60px;
    }

    .information {
        width: 40%;
        font-size: 24px;
    }

    .carrousel {
        display: flex !important;
    }

    .mid-3 {
        padding: 90PX;
        height: 600px;
        background-color: #698778;
    }

    .mid-3-1 {
        margin: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .description-mid-3-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description-mid-3-1 h3 {
        color: #FFFFFF;
        width: 70%;
        font-size: 40px;
    }

    .description-mid-3-1 button {
        color: #000000;
        border-radius: 15px;
        background-color: #A5EBC8;
        margin: 30px 0;
        width: 30%;
        border: 0px;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        padding: 90px 80px;
    }

    .copyDown {
        display: flex;
        justify-content: space-around;
    }

}

@media only screen and (min-width: 390px) and (max-width: 1399px) {

    .top-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        font-size: 10px;
    }

    .logo img {
        width: 50%;
    }

    .nav-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        background-color: white;
        padding: 11px 7px;
        border-radius: 13px;
    }

    .nav-options a {
        color: #000000;
    }

    .nav-options li {
        padding: 5px 15px;
        border-radius: 20px;
    }

    .page-container {
        margin: var(--containerMargin)
    }

    .header-section {
        margin-bottom: 2rem;
    }

    .header-section .irregular-ball {
        width: 100%;
    }

    .description-header-section h1 {
        position: relative;
        margin-top: -30px;
        font-size: 25px;
        font-weight: bold;
        width: max-content;
        background-color: #FFFFFF;
        color: #14452C;
    }

    .description-header-section .colorized-text-1 {
        color: #A5EBC8;
    }

    .description-header-section .colorized-text-2 {
        color: #649C80;
    }

    .description-header-section p {
        width: 50%;
        font-size: 14px;
        line-height: 15px;
    }

    .mid-form {
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        padding: 20px 10px;
        border: 2px solid black;
        border-radius: 15px;
        margin-bottom: 2rem;
    }

    .mid-form h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: var(--greenPrincipal);
        font-weight: bolder;
    }

    .mid-form p {
        margin-bottom: 0.3px;
    }

    .mid-form select {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.24);
        border-radius: 5px;
    }

    .mid-form button {
        background-color: var(--greenPrincipal);
        color: white;
        width: 280px;
        cursor: pointer;
        border: none;
        display: block;
        margin: auto;
        margin-top: 1rem;
        padding: 6px 0;
        border-radius: 20px;
        font-size: 12px;
        margin-bottom: 0.5rem;
    }

    .pg-post-1 {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 7px;
        background-color: #FFFFFF;
    }

    .pg-post-1 img {
        width: 100%;
    }

    .description-mid-1 h2 {
        position: relative;
        margin-top: -50px;
        font-size: 25px;
        font-weight: bold;
        width: max-content;
        background-color: #FFFFFF;
    }

    .description-mid-1 .colorized-text-1 {
        color: #A5EBC8;
    }

    .description-mid-1 .colorized-text-2 {
        color: #649C80;
    }

    .description-mid-1 p {
        width: 80%;
        font-size: 14px;
        line-height: 15px;
    }

    .pg-post-2 {
        margin-bottom: 10px;
        padding: 10px;
    }

    .pg-post-2 img {
        width: 100%;
    }

    .description-mid-2 .colorized-text-1 {
        color: #A5EBC8;
    }

    .description-mid-2 .colorized-text-2 {
        color: #649C80;
    }

    .description-mid-2 p {
        width: 85%;
        background-color: #FFFFFF;
    }

    .description-mid-2-1 h3 {
        font-weight: bold;
    }

    .description-mid-2-1 .colorized-text-2 {
        color: #649C80;
    }

    .container-carrousel {
        display: flex;
        margin: 20px 0;
        justify-content: space-between;
    }

    .container-carrousel img {
        width: 40%;
    }

    .container-carrousel .information {
        width: 55%;
        font-size: 14px;
    }

    .carrousel-indicators {
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        list-style: none;
        width: 100%;
        margin: auto;
    }

    .carrousel-indicator {
        height: 3px;
        width: 22px;
        background-color: #FFFFFF;
    }

    .carrousel-indicators .indicator-active {
        background-color: var(--greenPrincipal);
    }

    .mid-3 {
        background-color: var(--alternativeColor);
        width: 100vw;
        right: 1rem;
        position: relative;
    }

    .background-shapes {
        width: 100%;
        background-color: var(--alternativeColor);
        position: relative;
        right: var(--containerMargin);
        padding: 2rem var(--containerMargin);
        margin-bottom: 3rem;
    }

    .mid-3 h3 {
        margin-bottom: 1rem;
        color: white;
        font-size: 2rem;
        padding: 0 1rem;
    }

    .mid-3 button {
        padding: 10px 0;
        width: 180px;
        font-weight: bold;
        margin-left: 1rem;
        border: none;
        border-radius: 40px;
        font-size: 13px;
        margin-bottom: 2.4rem;
        background-color: var(--greenSecondary);
    }

    .whiteHolder {
        background-color: white;
        height: 4.5rem;
    }

    footer .logo {
        margin-top: 3rem;
        width: 70px;
        height: 70px;
        display: block;
    }

    .footer-information {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .info-section {
        font-size: 12px;
    }

    .info-section h4 {
        font-size: 15px;
    }

    .info-section .colorized-text {
        margin-bottom: 2rem;
        display: block;
        color: var(--greenPrincipal);
    }

    .copyDown {
        margin-top: 3rem;
        font-size: 10px;
    }

    .copy {
        float: right;
    }
}