@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;600;700&display=swap');

:root {

    --greenPrincipal: #649C80;
    --greenSecondary: #A5EBC8;
    --greenBackground: #EBF8F1;
    --alternativeColor: #698778;

}

body{
    background-color: var(--greenBackground);
}

main{
    background-color: var(--greenBackground);
    padding: 5rem;
    padding-top: 0;
    min-height: 100vh;
}

h1{
    margin-bottom: 4rem;
}


.my-pets{
    display: grid;
    grid-template-columns: 21% 21% 21% 21%; /* Configurando o tamanho do Pet para 21% */ 
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}


.perfil-photo{
    width: 200px;
    height: 200px;
    margin-top: -100px;
    border-radius: 50%;
    border: solid 5px white;
}

.username{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.background-perfil{
    width: 100%;
    z-index: -1;
    height: 140px;
    object-fit: cover;
    border-radius: 20px;
}

.perfil-insight-information{
    position: relative;
    z-index: 1;
    background: white;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
}

.perfil-insight{
    font-size: 1.5rem;
    margin-right: 2rem;
    text-align: center;
    font-weight: bold;
    width: 70px;
}

.perfil-insight:last-of-type{
    margin-right: 0;
}

.insights-container{
    display: flex;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.usertype{
    font-weight: bold;
}

.insight-label, .usertype{
    display: block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #32292f5f;
}

.perfil-information-container{
    display: flex;
    justify-content: space-between;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 1.5rem 0rem;
}

.perfil-information-container > div{
    width: 100%;
    padding: 0.5rem 1.5rem;
    font-size: 17px;
}

.perfil-information-container div p{
    margin: 0;
}

label{
    margin-bottom: .2rem;
    color: #32292fb4;
}

.card_edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    box-shadow: 0px 7px 15px #7393b334;
    width: 100%;
    border-radius: 16px;
    padding: 1rem .5rem;
    transition: .3s;
}

.card_edit .buttons img{
    opacity: .5;
    transition: .2s;
}

.card_edit .buttons img:hover{
    opacity: 1;
}

.card_edit div div{
    width: 320px;
    display: flex;
    flex-direction: column;
}

.btnEdit:hover{
    cursor: pointer;
    filter: brightness(0);
}

.buttons{
    display: flex;
}

.buttons button{
    background-color: transparent;
    border: 0;
    margin-left: 0.9rem;
    margin-right: 0.3rem;
    transition: 0.3s;
}

.buttons button:hover{
    filter: brightness(1.2);
    transform: scale(1.1);
}

.none{
    display: none;
}

.not-found-image{
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#requestText{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1rem;
    resize: none;
    font-size: 20px;
}

#requestTextContainer{
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.651);
}

.request-text-around{
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
}

.request-text-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#sendRequestText, #exitRequestText{
    background-color: var(--greenPrincipal);
    color: white;
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s;
}

#sendRequestText:hover, #exitRequestText:hover{
    background-color: var(--greenSecondary);
    color: white;
}

#sendRequestText{
    width: 55%;
}

#exitRequestText{
    width: 35%;
}

.hidden{
    display: none;
}
