main{
    padding: 5rem;
    padding-top: 0;
    min-height: 100vh;
}

.main{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0rem 1rem;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    margin-bottom: 0;
    font-size: 2.2rem;
}

section{
    margin-top: 0;
    height: 500px;
}


.image{
    width: 30%;
    background-color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.image article{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    border: 1px solid var(--greenPrincipal);
}

.image img{
    width: 100%;
}


.text{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.name{
    margin-bottom: 1rem;
}

.name p{
    font-size: 1.1rem;
}

.desc:hover{
    cursor: pointer;
}

.values{
    margin-bottom: 2rem;
}


/* Botão */

.adc{
    background-color: var(--greenSecondary);
    border: 0;
    padding: 1rem 6rem;
    height: 3.5rem;
    border-radius: 5px;
    width: 65%;
}

/* Botão */