{% extends '../componentes/base.html' %}
{% load static %}


{% block head %}
<style>
    body {
        font-size: 14px;
    }
</style>
{% endblock %}




{% block content %}
<body class="d-flex justify-content-center align-items-center min-vh-100 flex-column fs-inputs">

    <div class="d-flex border-radius-divs overflow-hidden top-bar" style="width: 375px; border-radius: 25px 25px 0 0;">
        <div class="w-50 text-center text-white bg-primaria d-flex justify-content-center align-items-center active section-auth"
            style="height: 65px;">Login</div>
        <a href="{% url 'cadastroUser' %}" class="w-50 text-decoration-none d-block" style="height: 65x;">
            <div class=" text-center text-white bg-primaria d-flex justify-content-center align-items-center
            section-auth h-100">Cadastro
            </div>
        </a>
    </div>

    <div class="login-camp border-primaria pt-4 border-radius-divs"
        style="width: 375px; border-radius: 0 0 25px 25px; border-top: none; padding: 3.5rem"
        style="border-radius: 0 0 25px 25px;">

        <img src="{% static 'imgs/logo.png' %}" alt="Logo image" class="d-block mx-auto mb-1" style="width: 49%;">
        <form action="" method="post">
            {%csrf_token%}
            
            <div class="input-field mb-2">
                <label for="emailCamp" class="d-block mb-1">E-mail:</label>
                <input class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm" placeholder="E-mail" name="{{form.username.name}}" type="text"/>  
                <i data-feather="mail"></i>
            </div>
            <div class="input-field mt-1">
                <label for="passwordCamp" class="d-block mb-1">Senha:</label>
                <input class="px-3 py-2 w-100 border-radius-inputs border fs-inputs shadow-sm" placeholder="Senha" name="{{form.password.name}}" type="password" />
                <i data-feather="key"></i>
            </div>
            <button type="submit" class="btn btn-adp-primaria w-100 mt-4 mb-4 py-2 border-radius-inputs">Entrar</button>
            <p class="mb-1">Outras formas de login:</p>

            <div class="alternative-logins d-flex justify-content-between mt-2">
                <img src="{% static 'imgs/Google Icon.png' %}" alt="google icon" style="width: 19%;" class="icon">
                <img src="{% static 'imgs/Apple Icon.png' %}" alt="apple icon" style="width: 19%;" class="icon">
                <img src="{% static 'imgs/Facebook Icon.png' %}" alt="facebook icon" style="width: 19%;" class="icon">
            </div>
        </form>
    </div>
</body>

{% endblock %}

</html>