{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Adota PET</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'css/login_style.css'%}">
</head>

<body>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <lord-icon src="https://cdn.lordicon.com/zagjqhhk.json" trigger="loop" delay="1000"
        colors="outline:#121331,primary:#b26836,secondary:#646e78,tertiary:#2ca58d" style="width:100px;height:100px">
    </lord-icon>
    <!-- partial:index.partial.html -->
    <h2>Seja bem-vindo ao Adota<span class="s-name">Pet</span></h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Crie sua <span class="f-name">Conta</span></h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span class="info">Ou use seu e-mail para se registrar:</span>
                <input name="username" type="text" placeholder="Nome Completo" />
                <input name="email" type="email" placeholder="E-mail" />
                <input name="password1" type="password" placeholder="Senha" id="pass1"/>
                <input name="password2" type="password" placeholder="Confirme sua Senha" id="pass2"/>
                <div class="cadast">
                    <div class="empr">
                        <label for="empresa">Empresa</label>
                        <input type="radio" id="empresa" value="E" name="userType">
                    </div>
                    <div class="client">
                        <label for="cliente">Cliente</label>
                        <input type="radio" id="cliente" value="C" name="userType">
                    </div>
                </div>
                <button name="cad" type="submit" id="submitButton">Cadastre-se</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="post">
                {% csrf_token %}
                <h1>Efetue seu <span class="f-name">Login!</span> </h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span class="info">Ou use sua Conta:</span>
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="senha" placeholder="Senha" />
                <a href="#">Esqueceu a senha?</a>
                <button name="login" type="submit">Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Faça seu <span class="f-name">login!</span></h1>
                    <div class="text">
                        <p>Clique no botão abaixo e venha fazer seu login</p>
                    </div>
                    <button class="ghost" id="signIn">Login</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Olá, <span class="f-name">tudo bem!</span></h1>
                    <div class="text">
                        <p>Gostaria de adorar um pet? Então venha criar uma conta</p>
                    </div>
                    <button class="ghost" id="signUp">Cadastre-se</button>
                </div>
            </div>
        </div>

        <div class="hiddeable display-error" id="errorMessage">

        </div>

    </div>
    <script src="{% static 'js/script.js'%}"></script>

    <script>
        pass1 = document.getElementById('pass1')
        pass2 = document.getElementById('pass2')
        errorMessage = document.getElementById('errorMessage')
        submitButton = document.getElementById('submitButton')

        submitButton.addEventListener('click', handlePasswords)

        function handlePasswords(e){
            if (pass1.value.length < 8 || pass2.value.length < 8 || pass1.value != pass2.value){
                if(pass1.value != pass2.value){
                    errorMessage.innerHTML = 'Senhas não coincidem!'
                    pass1.classList.add('error-camp')
                    pass2.classList.add('error-camp')
                    console.log('opa')
                }
                else if(pass1.value.length < 8){
                    errorMessage.innerHTML = 'Senha não pode ter menos que 8 caracteres!'
                }

                errorMessage.classList.remove('hiddeable')

                setTimeout(() => {
                    errorMessage.classList.add('hiddeable')
                }, 10000)

                e.preventDefault()
            }
        }



    </script>

</body>

</html>