{% extends 'componentes/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock head %}

{% block content %}

<div>
    <div class="page-container">
        <header>
            <section class="header-section">
                <img src="{% static 'imgs/coelho-home-page.svg' %}" alt="irregular ball" class="irregular-ball">
                <div class="description-header-section">
                    <h1>A melhor plataforma
                        <br>
                        <span class="colorized-text-1">voltada para pets</span>
                    </h1>
                    <p>Venha fazer parte dos apaixonados por pets
                    </p>
                </div>
            </section>
        </header>
        <main>
            <div class="mid-form">
                <div class="form-home-pg">
                    <h3>Busque por raça</h3>
                    <form method="post" class="form-home-pg-pets">
                        {%csrf_token%}
                        <div class="text">
                            <select name="breed" id="">
                                <option value="Pug">Pug</option>
                                <option value="Shih Tzu">Shih Tzu</option>
                                <option value="Buldogue">Buldogue</option>
                                <option value="Pastor Alemão">Pastor Alemão</option>
                                <option value="Poodle">Poodle</option>
                                <option value="Rottweiler">Rottweiler</option>
                                <option value="Labrador">Labrador</option>
                                <option value="Labrador">Labrador</option>
                                <option value="Golden Retriever">Golden Retriever</option>
                            </select>
                        </div>
                        <div class="send-pet">
                            <button>Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mid-sections">
                <section class="mid-1">
                    <div class="pg-post-1">
                        <img src="{% static 'imgs/cat-home-page.svg' %}" class="irregular-ball" alt="irregular ball">
                        <div class="description-mid-1">
                            <h2>Busque por pets para adoção
                                <br>
                                <span class="colorized-text-1"></span>
                            </h2>
                            <p>Faça o contato com o dono pelo email 
                                <span class="colorized-text-2"> ou use o chat da plataforma</span>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="mid-2">
                    <div class="pg-post-2">
                        <img src="{% static 'imgs/dog-home-page.svg' %}" alt="irregular ball" class="irregular-ball">
                        <div class="description-mid-2">
                            <h2>Perdeu seu Pet?
                                <br>
                                <span class="colorized-text-1">Anuncie aqui!</span>
                            </h2>
                            <p>
                                O AdotPets tem uma página dedicada a pets perdidos, 
                                <span class="colorized-text-2"> cadastre informações sobre seu pet e qualquer outro usuário pode acabar encontrando-o e entrando em contato com você</span>
                            </p>
                        </div>
                    </div>
                    <section style="margin: 100px;" class="mid-2-1">
                        <div class="container-carrousel">
                            <img src="{% static 'imgs/woman-and-cat.svg' %}" alt="irregular ball"
                                class="rectangle-stand">
                            <div class="information">
                                <h3>Confira abaixo algumas das vantagens de utilizar nossa plataforma:</h3>
                                <p>Descontos exclusivos em várias lojas</p>
                                <p>Chat com empresas e outros usuários</p>
                            </div>
                        </div>
                    </section>
            </section>
            <section class="mid-3">
                <div class="mid-3-1">
                    <img src="{% static 'imgs/geometryShapes_background.svg' %}" alt="background shapes"
                        class="background-shapes">
                    <div class="description-mid-3-1">
                        <h3>Venha fazer parte do AdotPets</h3>
                        <a href="{% url 'login' %}">Acessar</a>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

</div>



{% endblock content %}