{% extends '../componentes/base.html' %}
{% load static %}


{% block head %}
<style>
    img{
        width: 25%;
    }
</style>
{% endblock %}

{% block content %}


{% include '../componentes/nav.html' %}
{% include '../componentes/pesquisaPet.html' %}

{% for pet in pets %}
    <h1>PET</h1>
    <p>{{ pet.pet.nome }}</p>
    <p>{{ pet.pet.idade }}</p>
    <p>{{ pet.pet.desc }}</p>
    <p>{{ pet.pet.pref }}</p>
    <p>{{ pet.pet.sexo }}</p>
    <p>{{ pet.pet.raca }}</p>
    {% for img in pet.imgs %}
        <img src="{{img.imagem.url}}" alt="">
    {% endfor %}
{% endfor %}

{% endblock %}