{% extends '../componentes/base.html' %}
{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/meus_pets.css' %}">

{% endblock %}

{% block content %}


<main class="pets-section">
    <h1>Meus Pets</h1>
    <article class="my-pets">
        {% for pet in pets %}
            <div class="pet-card">
                <img src="{{pet.imgs.0.imagem.url}}" alt="">
                <div class="info-container">
                    <p><strong>{{pet.pet.nome}}</strong></p>
                    <button>Conferir</button>
                </div>
            </div>
        {% endfor %}
    </article>
    {% include 'componentes/paginator.html' %}
</main>


{% endblock %}
