{% extends '../componentes/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
{% endblock %}

{% block content %}


<main>
  <div class="h1Title">
    <h1 class="pedidos">Pedidos</h1>
    <a href="{% url 'pedidosEmpresa' %}" class="linkTop">Aguardando Avaliação</a>
    <a href="{% url 'pedidosAceitos' %}">Pedidos Aceitos</a>
  </div>

  <section>
    {% for order in orders %}
        {% include '../componentes/pedidoEmpresaCard.html' %}
    {% endfor %}
  </section>
</main>

{% endblock %}