{% extends '../componentes/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pedidos.css' %}">

  <style>
    .options{
      display: flex;
      align-items: center;
      justify-self: end;
    }

    .options img{
      border: 0;
      width: 35px;
      padding: 0;
    }

    .body .item{
    display: grid;
    grid-template-columns: 10% 30% 20% 25% 15%;
    align-items: center;
    width: 100%;
    }

    .options img:hover{
    filter: brightness(1.2);
    transform: scale(1.1);
    }
  </style>
{% endblock %}

{% block content %}


<main>
  <h1>Pedidos</h1>

  <section>
    {% for order in orders %}
        {% include '../componentes/pedidoEmpresaCard.html' %}
    {% endfor %}
  </section>
</main>

{% endblock %}