{% extends '../componentes/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
  <link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="main">
        <section class="image">
            <article>
                <img src="{{productImg.img.url}}" alt="">
            </article>
        </section>
        <section class="text">
            <article class="name">
                <h2>{{produto.name}}</h2>
                <p><span class="desc">Ver descrição completa</span>    |    <span>{{produto.fk_company.fk_user}}</span></p>
            </article>
            <article class="values">
                <p class="fullValue"><strong>R$<span>{{produto.value}}</span></strong></p>
                <p class="divided">ou <span class="divisor">5</span>x de R$<span class="divValue">96,00</span></p>
            </article>
            <form method="post">
                {%csrf_token%}
                <div class="quantity-input">
                    <button type="button" id="decrement">-</button>
                    <input type="number" name="quantity" id="quantity" value="1" min="1" step="1">
                    <button type="button" id="increment">+</button>
                </div>
                <button type="submit" class="adc">Adicionar ao carrinho</button>
            </form>
        </section>
    </section>
</main>

<script>
    var fullValue = parseFloat(document.querySelector('.fullValue strong span').textContent)
    var divisor = parseInt(document.querySelector('.divided .divisor').textContent)
    var result = fullValue / divisor
    var divided = document.querySelector('.divValue')
    divided.textContent = result.toFixed(2)
</script>

<script>
    const decrementButton = document.getElementById('decrement');
    const incrementButton = document.getElementById('increment');
    const quantityInput = document.getElementById('quantity');

    decrementButton.addEventListener('click', () => {
      const currentValue = parseInt(quantityInput.value);
      if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
      }
    });

    incrementButton.addEventListener('click', () => {
      const currentValue = parseInt(quantityInput.value);
      quantityInput.value = currentValue + 1;
    });
  </script>
{% endblock %}