{% extends '../componentes/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/meus_pets.css' %}">
{% endblock %}

{% block content %}

{% for pet in pets%}
    {% include 'componentes/petModal.html' %}
{% endfor %}

{% for pet in pets_fav%}
    {% include 'componentes/petModal.html' %}
{% endfor %}


{% include '../componentes/nav.html' %}


{{info.profileImage.img.url}}
<!-- {% if info.defaultUser.profile_image %}
<img src="{{info.defaultUser.profile_image.url}}" alt="">
{% else %}
<h3>Coloca um img com um svg de perfil genérico</h3>
{% endif %} -->

<main class="pets-section">
    <section class="perfil-insight-information">
        <img src="{% static 'imgs/backgroundPerfilPage.jpg' %}" alt="background img" class="background-perfil">
        <div class="photo-container">
            <img src="{% static 'imgs/dogPhoto.jpg' %}" alt="imagem do perfil do usuário" class="perfil-photo">
            <h1 class="username">{{info.user.first_name}}</h1>
            <span class="usertype">Cadastro de Pessoa</span>
        </div>
        <div class="insights-container">
            <div class="perfil-insight">{{info.petsCount}} <span class="insight-label">Pets</span></div>
            <div class="perfil-insight">{{info.adoptedPets}} <span class="insight-label">Adotados</span></div>
            <div class="perfil-insight">{{info.favoritePets}} <span class="insight-label">Favoritos</span></div>
        </div>
    </section>
    <div class="perfil-information-container">
        <p>{{info.user.email}}</p>
        <p>{{info.address.city}}</p>
        <p>{{info.address.road}}</p>
        <p>{{info.address.number}}</p>
        <p>{{info.defaultUser.telephone}}</p>
    </div>

    <h1>Meus Pets</h1>

    <form action="" class="search-pet-form">
        <input type="text" name="Search" placeholder="Digite o nome do Pet">
        <button>Search</button>
    </form>

    <h4>Meus Pets</h4>
    <article class="my-pets">
        {% for pet in pets %}
            {% include 'componentes/petCard.html' %}
        {% endfor %}
    </article>


    <h4>Favoritos</h4>
    <article class="my-pets">
        {% for pet in pets_fav %}
            {% include 'componentes/petCard.html' %}
        {% endfor %}
    </article>
    {% include 'componentes/paginator.html' %}
</main>

<section class="mid-3">
    <div class="mid-3-1">
        <img src="{% static 'imgs/geometryShapes_background.svg' %}" alt="background shapes" class="background-shapes">
        <div class="description-mid-3-1">
            <h3>Faça igual a eles vire um parceiro da AdotePet</h3>
            <button class="parceiro">Seja um Parceiro</button>
        </div>
    </div>
</section>

{% include '../componentes/footer.html' %}

<script src="{% static 'js/modalPet.js' %}"></script>
{% endblock %}
